.Rside {
  background: rgb(71,144,135);
  background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);
  /* background: radial-gradient(circle, rgba(6,26,54,1) 0%, rgba(29,58,87,0.989233193277311) 100%); */
  box-shadow: 10px 10px 25px black;
  color: white;

}

.contact-info {
  margin-top: 140px;
}

.Lside {
  background: rgb(61, 62, 65);
  background: radial-gradient(circle, rgb(224, 233, 245) 0%, rgb(182, 188, 193) 100%);
  box-shadow: 10px 10px 25px black;


}

.contact-info img {
  width: 80px;
  height: 80px;
}
