<div class="formatting-modal fm">
  <div class="modal-header" style="background-color: rgb(71,144,135);
background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);">
    <h4 class="modal-title">Be a Member of <b style="color: rgb(241,240,234);">BANGER & Co</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="modal-body">
    <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="fName"><b>First Name</b></label>

            <input type="text" class="form-control"
                  [formControlName]="'fName'"
                  placeholder="Enter Your First Name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="lName"><b>Last Name</b></label>

            <input type="text" id="lName" class="form-control"
                  [formControlName]="'lName'"
                  placeholder="Enter Your Last Name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="emailAddress"><b>Email Address</b></label>

            <input type="email" class="form-control"
                  [formControlName]="'emailAddress'"
                  placeholder="Enter Your Email Address">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="age"><b>Date of Birth</b></label>

            <input type="date" class="form-control"
                  [formControlName]="'dob'"
                  placeholder="Enter Your Birthday">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="contactNumber"><b>Contact Number</b></label>

            <input type="text" class="form-control"
                  [formControlName]="'contactNumber'"
                  placeholder="Enter Your Contact Number">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="contactNumber"><b>NIC Number</b></label>

            <input type="text" class="form-control"
                  [formControlName]="'nicNumber'"
                  placeholder="Enter Your NIC Number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label><b>Create your password</b></label>

          <input type="password"
          class="form-control" id="pass1" placeholder="Enter Your Password">
        </div>
        <div class="col">
          <label><b>Verify your password</b></label>

          <input type="password" class="form-control" id="pass2"
                [formControlName]="'password'"
                placeholder="Re-Enter Your Password">
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col">
          <label><b>Upload Your Liscence Image:</b></label>
        </div>
        <div class="col">
          <!-- <input type="file" accept="image/*" (change)="onFileChanged($event)" multiple="false"> -->
        </div>
      </div>
      <span style="font-size: 13px; color: brown;">Once You Sign Up, You Will Get an Email. Follow The Instructions to Verify Your Account</span>
      <hr style="background-color: rgb(13, 104, 1);">
      <button class="btn btn-success mb-3" (click)="onSignUP()" type="button">Create Account</button>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>


<script type="text/javascript">
  var password = document.getElementById("pass1")
      , confirm_password = document.getElementById("pass2");

  function validatePassword(){
      if(password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Do Not Match");
      } else {
          confirm_password.setCustomValidity('');
      }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>

