<div class="container">
  <div class="row mt-4">
    <div class="d-grid gap-2">
      <button class="btn btn-secondary" style="width: 500px;" type="button" routerLinkActive="active"
              [routerLink]="['/admin','verifyUsers']">
              <i class="fas fa-users-cog float-left"></i> Verify User Accounts
      </button>
      <br>
      <button class="btn btn-secondary mt-4" style="width: 500px;" type="button" routerLinkActive="active"
        [routerLink]="['/admin','viewRegisteredUsers']">
       <i class="fas fa-user float-left"></i> View Verified Users
      </button>
    </div>
  </div>
</div>
