<div class="container">
  <div class="row">
    <div class="card ml-5" style="width: 950px;">
      <!-- <div class="card-body cb">
        <div class="row">
          <div class="col-lg-1">
            <i class="fas fa-user float-left" style="font-size: 35px;"></i>
          </div>
          <div class="col-lg-2">
            <h5 class="card-title" style="font-size: 20px;"><b>UID008114</b></h5>
          </div>
          <div class="col-lg-6">
            <h5 class="card-title" style="font-size: 20px;"><b>Praveen Ranasinghe</b></h5>
          </div>
          <div class="col-lg-3">
            <a class="btn btn-danger" (click)="addToBlackList()">Add To Black-List</a>
          </div>
        </div>
      </div> -->

      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">User ID</th>
            <th scope="col">Add to Black List</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class="btn btn-danger" style="width: 200px;" (click)="addToBlackList()">Add To Black-List</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
