<div class="formatting-modal fm">
  <div class="modal-header">
    <h4 class="modal-title">Update Vehicles In <b style="color: rgb(228, 134, 11);">BANGER</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="mt-4 mb-4" *ngIf="message">
    <div class="row justify-content-center">
      <alert class="alert" style="background-color: rgb(159, 250, 117); font-weight: 650;" [type]="getMessage()" [dismissible]="true"><span [innerHtml]="message"></span></alert>
    </div>
    </div>

  <div class="modal-body">
    <form [formGroup]="updateVehicleForm" (ngSubmit)="onUpdateVehicle()">

      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="vehicleType"><b>Vehicle Model & Name</b></label>
            <input class="form-control" type="text" name="vehicleModel" type="text"
              value="{{selectedVehicle.vehicleType}}" readonly>
          </div>
          <div class="col">
            <label for="vehicleModel"><b>Vehicle Type</b></label>
            <input class="form-control" type="text" name="vehicleType" type="text"
              value="{{selectedVehicle.vehicleModel}}" readonly>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <label for="seat"><b>Number of Seats</b></label>
            <input class="form-control" type="text" name="numOfSeats" type="text" value="{{selectedVehicle.numOfSeats}}"
              readonly>
          </div>
          <div class="col">
            <label for="fuelType"><b>Fuel Type</b></label>
            <input class="form-control" type="text" [formControlName]="'fuelType'" name="fuelType"  type="text">
          </div>
          <div class="col">
            <label for="fuelType"><b>Price Per Day</b></label>
            <input class="form-control" type="text" name="pricePerDay" [formControlName]="'pricePerDay'"
              type="text">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label for="transmission"><b>Transmission Type</b></label><br>
            <input class="form-control" type="text" name="transmission" [formControlName]="'transmission'" type="text"
               >
          </div>
          <div class="col">
            <label for="airbags"><b>Air Bags</b></label><br>
            <input class="form-control" type="text" name="airbags" [formControlName]="'airbags'" type="text"  >
          </div>
          <div class="col">
            <label for="ac"><b>Air-Conditioned</b></label><br>
            <input class="form-control" type="text" name="ac" [formControlName]="'ac'" type="text">
          </div>
        </div>

        <button type="submit" class="btn btn-success mt-4" style="width: 40%;">Update Vehicle Details</button>
      </div>

    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>
