<div class="formatting-modal fm">
  <div class="modal-header">
    <h4 class="modal-title">Update Vehicles In <b style="color: rgb(228, 134, 11);">BANGER</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="vehicleType"><b>Vehicle Type</b></label>
            <input class="form-control" type="text"name ="vehicleModel" type="text" [(ngModel)] = "selectedVehicle.vehicleModel" #vehicleId="ngModel" readonly>
          </div>
          <div class="col">
            <label for="vehicleModel"><b>Vehicle Model & Name</b></label>
            <input class="form-control" type="text" name ="vehicleType" type="text" [(ngModel)] = "selectedVehicle.vehicleType" #vehicleId="ngModel" readonly>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <label for="seat"><b>Number of Seats</b></label>
            <input class="form-control" type="text" name ="numOfSeats" type="text" [(ngModel)] = "selectedVehicle.numOfSeats" #vehicleId="ngModel" readonly>
          </div>
          <div class="col">
            <label for="fuelType"><b>Fuel Type</b></label>
            <input class="form-control" type="text" name ="fuelType" type="text" [(ngModel)] = "selectedVehicle.fuelType" #vehicleId="ngModel">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label for="transmission"><b>Transmission Type</b></label><br>
            <input class="form-control" type="text" name ="transmissionType" type="text" [(ngModel)] = "selectedVehicle.transmissionType" #vehicleId="ngModel">
          </div>
          <div class="col">
            <label for="airbags"><b>Air Bags</b></label><br>
            <input class="form-control" type="text" name ="airBag" type="text" [(ngModel)] = "selectedVehicle.airBag" #vehicleId="ngModel">
          </div>
          <div class="col">
            <label for="ac"><b>Air-Conditioned</b></label><br>
            <input class="form-control" type="text" name ="ac" type="text" [(ngModel)] = "selectedVehicle.ac" #vehicleId="ngModel">
          </div>
        </div>

        <button type="button" class="btn btn-success mt-4" style="width: 40%;">Update Vehicle Details</button>
      </div>

    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>
