<div class="container">
  <div class="row">
    <div class="ml-5" style="width: 950px;">
      <table class="table table-success">
        <thead>
        <tr style="height: 70px; background-color: #ffc42f; font-size: larger">
          <th scope="col">#</th>
          <th scope="col">Inquirer Name</th>
          <th scope="col">Inquirer Email</th>
          <th scope="col">Contact Number</th>
          <th scope="col">View More</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height: 60px; font-size: large">
          <th scope="row">1</th>
          <td>Praveen Ranasinghe</td>
          <td>praveenranasinghe@gmail.com</td>
          <td>+94-715658987</td>
          <td class="btn btn-primary" style="width: 150px;" (click)="openViewMore()">View More</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
