<div class="container">
  <ngx-spinner [fullScreen]="false" bdColor="rgba(247, 250, 252)" color="#000000"></ngx-spinner>
  <div class="row">
    <div class="ml-5" style="width: 950px;">
      <table class="table table-success">
        <thead>
        <tr style="height: 70px; width: 100%; background-color: #ffc42f; font-size: larger">
          <th scope="col">#</th>
          <th scope="col">Inquirer Name</th>
          <th scope="col">Inquirer Email</th>
          <th scope="col">Contact Number</th>
          <th></th>
          <th scope="col">View More</th>
          <th></th>
          <th scope="col">Remove Inquiry</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height: 60px; font-size: large"  *ngFor="let user of List">
          <th scope="row">1</th>
          <td>{{user.inquirerName}}</td>
          <td>{{user.inquirerEmail}}</td>
          <td>{{user.contactNum}}</td>
          <td></td>
          <td class="btn btn-primary" style="width: 170px;" (click)="openViewMore(user.inquiryId)">View More<i class="fas fa-info ml-2"></i></td>
          <td></td>
          <td class="btn btn-danger" style="width: 170px;" (click)="removeInquiy(user.inquiryId)">Remove Inquiry<i class="fas fa-trash-alt ml-2"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
