<div class="row justify-content-center mt-2 mb-4">
  <a class="btn btn-outline-success" style="width: 300px; font-weight:600;" (click)="bookingHistory()">Click Here To View Your Booking History</a>
</div>

<div class="row justify-content-center mt-4">
  <p style="color: rgb(88, 51, 2);"><i>You can Extend Your On-Going Bookings Upto 4:00 PM, If there are no any Bookings for the Vehicle in the following Day!</i></p>
</div>

<div class="row">
  <div class="col">
    <div class="row justify-content-center mt-3 mb11">
      <h3 style="color: rgb(70, 33, 4);"><i><u>Your Pending Bookings!</u></i></h3>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div style="width: 1300px;">
          <table class="table table-secondary" style="border-radius: 15px">
            <thead>
            <tr style="height: 70px; background-color: #a3c59f; font-size: larger">
              <th scope="col">#</th>
              <th scope="col">Booking Id</th>
              <th scope="col">PickUp Time</th>
              <th scope="col">Return Time</th>
              <th scope="col">Booked Vehicle</th>
              <th scope="col">Status</th>
              <th scope="col">Cancel Booking</th>
            </tr>
            </thead>
            <tbody>
            <tr style="height: 60px; font-size: large" *ngFor="let myBooking of pending">
              <th scope="row"></th>
              <td><b>{{myBooking.bookingId}}</b></td>
              <td>{{myBooking.pickupTime  | date:'short'}}</td>
              <td>{{myBooking.returnTime  | date:'short'}}</td>
              <td>{{myBooking.vehicle.vehicleType}}</td>
              <td>{{myBooking.bookingStatus}}</td>
              <td class="btn btn-outline-danger mt-2 mb-2" (click)="openCancelBooking(myBooking.bookingId)" style="width: 165px; border-color: black;">Cancel Booking</td>
            </tr>
            </tbody>
          </table>

          <div *ngIf="List.length==0" class="alert alert-primary" role="alert">
            <div class="row justify-content-center"><b> No On Going Bookings to Display!</b></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="row justify-content-center mt-3 mb11">
      <h3 style="color: rgb(192, 92, 11);"><i><u>Your On-Going Bookings!</u></i></h3>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div style="width: 1300px;">
          <table class="table table-secondary" style="border-radius: 15px">
            <thead>
            <tr style="height: 70px; background-color: #a3c59f; font-size: larger">
              <th scope="col">#</th>
              <th scope="col">Booking Id</th>
              <th scope="col">PickUp Time</th>
              <th scope="col">Return Time</th>
              <th scope="col">Booked Vehicle</th>
              <th scope="col">Status</th>
              <th scope="col">Extend Booking</th>
            </tr>
            </thead>
            <tbody>
            <tr style="height: 60px; font-size: large" *ngFor="let myBookings of List">
              <th scope="row"></th>
              <td><b>{{myBookings.bookingId}}</b></td>
              <td>{{myBookings.pickupTime  | date:'short'}}</td>
              <td>{{myBookings.returnTime  | date:'short'}}</td>
              <td>{{myBookings.vehicle.vehicleType}}</td>
              <td>{{myBookings.bookingStatus}}</td>
              <td class="btn btn-outline-primary mt-2 mb-2" (click)="openExtendBooking(myBookings.bookingId)" style="width: 165px; border-color: black;">Check Extendability</td>
            </tr>
            </tbody>
          </table>

          <div *ngIf="List.length==0" class="alert alert-primary" role="alert">
            <div class="row justify-content-center"><b> No On Going Bookings to Display!</b></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
