<div class="container">
  <div class="row">
    <div style="width: 1300px;">
      <table class="table table-secondary" style="border-radius: 15px">
        <thead>
        <tr style="height: 70px; background-color: #a3c59f; font-size: larger">
          <th scope="col">#</th>
          <th scope="col">Booking Id</th>
          <th scope="col">PickUp Time</th>
          <th scope="col">Return Time</th>
          <th scope="col">Booked Vehicle</th>
          <th scope="col">Status</th>
          <th scope="col">Extend Booking</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height: 60px; font-size: large"  *ngFor="let myBookings of List">
          <th scope="row"></th>
          <td><b>{{myBookings.bookingId}}</b></td>
          <td>{{myBookings.pickupTime  | date:'short'}}</td>
          <td>{{myBookings.returnTime  | date:'short'}}</td>
          <td>{{myBookings.vehicle.vehicleType}}</td>
          <td>{{myBookings.bookingStatus}}</td>
          <td class="btn btn-outline-primary mt-2 mb-2" (click)="openExtendBooking()" style="width: 150px; border-color: black;">Extend Booking</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
