<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col-lg-5 mt-5">
    <div class="container">
      <div class="row details ml-5">
        <p style="color: rgb(12, 17, 22);">Welcome to</p><b style="color: rgb(208,99,4);">BANGER & Co</b>
      </div>
      <div>
        <b><p style="color: rgb(7, 12, 34); font-size: 30px; margin-left: 50px;">Make Your Booking Today & Enjoy Your
          Journey!</p></b>
        <b><p style="color: rgb(7, 12, 34); font-size: 30px; margin-left: 50px;">
          Email Us:<a style="color: rgb(7, 12, 34); font-size: 30px; font-size: large;"
                      href="mailto:bangerbookings@gmail.com">bangerco480@gmail.com</a></p></b>
        <b><p style="color: rgb(7, 12, 34); font-size: 20px; margin-left: 50px;">
          Call Us:<a style="color: rgb(7, 12, 34); font-size: 30px; font-size: large;" href="tel:+94112230876">+94-112230876</a>
        </p></b>
      </div>
      <div class="row mt-5 ml-5">
        <button type="button" class="btn btn-warning"
                style="width: 50%; border: black; border-style: double; font-size: larger;"
                (click)="openSignUp()">Click Here To Register
        </button>

      </div>
      <div class="row mt-3 ml-5">

        <button type="button" class="btn btn-secondary"
                style="width: 50%; border: black; border-style: double; font-size: larger;"
                (click)="openLogin()">Click Here To Make a Booking
        </button>

      </div>
    </div>
  </div>
  <div class="col-lg-7 mt-5">
    <div class="background" style="width: 800px; height: 700px;">

    </div>
  </div>
</div>



