.cb {
  width: 270px;
  transition: background-color 0.75s;
  border-color: black;
  border-style: dotted;
  background-color: rgb(122, 201, 122);
}

.cb:hover {
  background-color: rgba(185, 205, 241, 0.37);
  cursor: pointer;
}
