.cb {
  width: 270px;
  transition: background-color 0.75s;
  border-color: black;
  border-style: dotted;
  background-color:rgb(71,144,135);
  background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);
  box-shadow: 10px 10px 25px black;
}

.cb:hover {
  background-color: red;
  cursor: pointer;
}
