<div class="formatting-modal fm">
  <div class="modal-header" style="background-color: rgb(71,144,135);
  background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);">
    <h4 class="modal-title">New Users in <b style="color: rgb(228, 134, 11);">BANGER & Co</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="modal-body mb">
    <form [formGroup]="acceptUserForm">
      <div class="form-group">
        <div class="row justify-content-center">
          <img  [src]="selectedUser.profileImage"  height="200px;" width="200px;" style="border-radius: 150px;">
        </div>
        <!-- name ="inquiryId" type="text" [(ngModel)] = "selectedInquiry.inquiryId" #inquiryId="ngModel" readonly -->
        <div class="row mt-3">
          <div class="col-lg-4">
            <label><b>First Name</b></label>
            <input class="form-control" name="fName" type="text" value="{{selectedUser.fName}}" readonly>
          </div>
          <div class="col-lg-4">
            <label><b>Last Name</b></label>
            <input class="form-control" name="lName" type="text" value="{{selectedUser.lName}}"  readonly>
          </div>
          <div class="col-lg-4">
            <label><b>NIC Number</b></label>
            <input class="form-control" name="nicNumber" type="text"  value="{{selectedUser.nicNumber}}" readonly>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-4">
            <label><b>Age</b></label>
            <input class="form-control" name="dob" type="text" pattern="yyyy-MM-dd"  value="{{selectedUser.dob}}"  readonly>
          </div>
          <div class="col-lg-4">
            <label><b>Email</b></label>
            <input class="form-control" name="email" type="text"  value="{{selectedUser.email}}" readonly>
          </div>
          <div class="col-lg-4">
            <label><b>Contact Number</b></label>
            <input class="form-control" name="contactNum" type="text"  value="{{selectedUser.contactNum}}" readonly>
          </div>
        </div>
        <input class="form-control" name="status" type="hidden"  value="{{selectedUser.status}}">
        <div class="row justify-content-center mt-3">
          <div class="col">
            <div>
              <label><b>License Image</b></label>
            </div>
            <img  [src]="selectedUser.licenceImg"  height="250px;" width="350px;" style="border-color: black; border-style: double; border-radius: 15px;">
          </div>

          <div class="col">
            <div>
              <label><b>Utility Bill</b></label>
            </div>
            <img  [src]="selectedUser.utilityBill"  height="250px;" width="350px;" style="border-color: black; border-style: double; border-radius: 15px;">
          </div>
        </div>
      </div>
      <hr style="background-color: black;">
      <div>
        <a class="btn btn-primary mb-3 mt-1" href="mailto:{{selectedUser.email}}">Send Message<i class="fas fa-comment-dots mr-3 ml-3"></i></a>
        <a class="btn btn-success mb-3 mt-1 ml-4" href="tel:{{selectedUser.contactNum}}">Contact User<i class="fas fa-phone mr-3 ml-3"></i></a>
      </div>


    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>
