<div class="formatting-modal fm">
  <div class="modal-header" style="background-color: rgb(71,144,135);
background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);">
    <h4 class="modal-title">Add Vehicles to <b style="color: rgb(228, 134, 11);">BANGER</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="vehicleType"><b>Vehicle Type</b></label>
            <select class="form-control" type="text" id="vehicleType">
              <option>Four-Wheel Drive</option>
              <option>Two-Wheel Drive</option>
            </select>
          </div>
          <div class="col">
            <label for="vehicleModel"><b>Vehicle Model & Name</b></label>
            <input type="text" id="vehicleModel" class="form-control" placeholder="Toyota Premio">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-4">
            <label for="seat"><b>Number of Seats</b></label>
            <input type="text" id="seat" class="form-control" placeholder="Number of Passenger-Seats">
          </div>
          <div class="col-lg-4">
            <label><b>Fuel Type</b></label>
            <select class="form-control" type="text">
              <option>Petrol</option>
              <option>Diesel</option>
              <option>Electric</option>
            </select>
          </div>
          <div class="col-lg-4">
            <label><b>Price per Day in Rs</b></label>
            <input type="text" class="form-control" placeholder="Rs:1000.00">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label><b>Transmission Type</b></label><br>
            <input type="radio" id="auto" name="transmission" value="auto">
            <label>Automatic</label><br>
            <input type="radio" id="manual" name="transmission" value="manual">
            <label>Manual</label><br>
          </div>
          <div class="col">
            <label><b>Air Bags</b></label><br>
            <input type="radio" name="airbags" value="yes">
            <label>Yes</label><br>
            <input type="radio" name="airbags" value="no">
            <label>No</label><br>
          </div>
          <div class="col">
            <label><b>Air-Conditioned</b></label><br>
            <input type="radio" id="yes" name="ac" value="yes">
            <label>Yes</label><br>
            <input type="radio" id="no" name="ac" value="no">
            <label>No</label><br>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label><b>Add Images of the Vehicle</b></label>
            <input type="file" accept="image/*" multiple="false">
          </div>
        </div>
      </div>

    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>
