<div class="formatting-modal fm">
  <div class="modal-header" style="background-color: rgb(71,144,135);
background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);">
    <h4 class="modal-title">Add Vehicles to <b style="color: rgb(228, 134, 11);">BANGER</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="addVehicleform"  (ngSubmit)="addVehicle()" (ngSubmit)="onUpload()">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="vehicleType"><b>Vehicle Type</b></label>
            <select class="form-control" type="text"  [formControlName]="'vehicleType'" required="required">
              <option>Small-Town Car</option>
              <option>Small Family HatchBack</option>
              <option>Large Family Saloon</option>
              <option>Large Family Estate</option>
              <option>Medium Van</option>
            </select>
            <span *ngIf="!addVehicleform.get('vehicleType').valid && addVehicleform.get('vehicleType').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Select the Vehicle Type</span>
          </div>
          <div class="col">
            <label for="vehicleModel"><b>Vehicle Model & Name</b></label>
            <input type="text" class="form-control"
            placeholder="Toyota Premio"  [formControlName]="'vehicleModel'">
            <span *ngIf="!addVehicleform.get('vehicleModel').valid && addVehicleform.get('vehicleModel').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Enter the Vehicle Model and the Name</span>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-4">
            <label for="seat"><b>Number of Seats</b></label>
            <input type="text" class="form-control"
            placeholder="Number of Passenger-Seats"  [formControlName]="'seat'">

            <span *ngIf="!addVehicleform.get('seat').valid && addVehicleform.get('seat').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Enter the Number of Passenger Seats!</span>
          </div>
          <div class="col-lg-4">
            <label><b>Fuel Type</b></label>
            <select class="form-control" type="text" [formControlName]="'fuelType'">
              <option>Petrol</option>
              <option>Diesel</option>
              <option>Electric</option>
            </select>

            <span *ngIf="!addVehicleform.get('fuelType').valid && addVehicleform.get('fuelType').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Enter the Fuel Type!</span>

          </div>
          <div class="col-lg-4">
            <label><b>Price per Day in Rs</b></label>
            <input type="text" class="form-control"
             placeholder="Rs:1000.00" [formControlName]="'pricePerDay'">
             <span *ngIf="!addVehicleform.get('pricePerDay').valid && addVehicleform.get('pricePerDay').touched"
             style="margin-top: 3px; color:red; font-size: 12px;">Please Enter the hiring Price!</span>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col">
            <label><b>Transmission Type</b></label><br>
            <input type="radio" id="auto" name="transmission" value="auto" [formControlName]="'transmission'">
            <label>Automatic</label><br>
            <input type="radio" id="manual" name="transmission" value="manual" [formControlName]="'transmission'">
            <label>Manual</label><br>
            <span *ngIf="!addVehicleform.get('transmission').valid && addVehicleform.get('transmission').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Select the Transmission Type</span>
          </div>
          <div class="col">
            <label><b>Air Bags</b></label><br>
            <input type="radio" name="airbags" value="yes" [formControlName]="'airbags'">
            <label>Yes</label><br>
            <input type="radio" name="airbags" value="no" [formControlName]="'airbags'">
            <label>No</label><br>
            <span *ngIf="!addVehicleform.get('airbags').valid && addVehicleform.get('airbags').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Select the Option!</span>
          </div>
          <div class="col">
            <label><b>Air-Conditioned</b></label><br>
            <input type="radio" id="yes" name="ac" value="yes" [formControlName]="'ac'">
            <label>Yes</label><br>
            <input type="radio" id="no" name="ac" value="no" [formControlName]="'ac'">
            <label>No</label><br>
            <span *ngIf="!addVehicleform.get('ac').valid && addVehicleform.get('ac').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Select the Option!</span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <label><b>Add Images of the Vehicle</b></label>
            <input type="file" (change)="onFileChanged($event)" multiple="false">
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-success mt-3" style="width: 30%;">Add Vehicle</button>
    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>
