<div class="container">
  <div class="row mt-4">
    <div class="d-grid gap-2">
      <button class="btn btn-outline-primary" style="width: 500px;" type="button" (click)="openAddVehicle()"><i class="fas fa-car float-left"></i> Add Vehicles </button><br>
      <button class="btn btn-outline-primary mt-4" style="width: 500px;" type="button"[routerLink]="['/admin','updateDeleteVehicle']" routerLinkActive="active">
        <i class="fal fa-car-mechanic float-left"></i> View Vehicles (Delete & Update)</button>
    </div>
  </div>
  </div>
