<div class="formatting-modal fm">
  <div class="modal-header">
    <h4 class="modal-title">Update Equipment in <b style="color: rgb(228, 134, 11);">BANGER</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="mt-4 mb-4" *ngIf="message">
    <div class="row justify-content-center">
      <alert class="alert" style="background-color: rgb(159, 250, 117); font-weight: 650;" [type]="getMessage()" [dismissible]="true"><span [innerHtml]="message"></span></alert>
    </div>
    </div>

  <div class="modal-body">
    <form [formGroup]="updateEquipmentForm" (ngSubmit)="onUpdateEquipment()">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="itemName"><b>Item Name</b></label>
            <input class="form-control" type="text" name ="itemName" type="text" value="{{selectedEquipment.itemName}}" readonly>
          </div>
          <div class="col">
            <label for="totalItems"><b>Number of Items</b></label>
            <input class="form-control" type="text" name ="quantity" type="text" [(ngModel)] = "selectedEquipment.quantity" #equipmentId="ngModel" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="price"><b>Price Per One</b></label>
            <input class="form-control" type="text" name ="pricePerDayEQ" [formControlName]="'pricePerDayEQ'">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="description"><b>Description</b></label>
            <textarea class="form-control" rows="4" name ="itemDescription" type="text"  [formControlName]="'itemDescription'"
                      placeholder="About the Item" style="resize:none;"></textarea>
          </div>
        </div>
      </div>
      <hr style="background-color: black;">
      <button type="submit" class="btn btn-success mb-3 mt-1">Update Equipment</button>

    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>
