<div class="container">
  <div class="row">
    <h5 style="color: rgb(247, 83, 19);"><b>* You must return the booked vehicle before 4:00 PM of the Return Date</b>
    </h5>
  </div>

  <div class="row">
    <div class="col">
      <!-- Begining of the card -->
      <div class="card mb-5" style="width: 25rem; border-color: black;">
        <img src="https://img4.goodfon.com/wallpaper/big/3/3b/skyline-gtr-skyline-gtr-r33-midnight-purple.jpg"
             class="card-img-top">

        <div class="ml-4 mr-4 mt-3" style="font-weight: 500; font-size: larger;">
          <div class="row">
            <div class="col">
              <p class="form-control"><b>Vehicle Model</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="form-control">Two Wheel Drive</p>
            </div>
            <div class="col">
              <p class="form-control">Transmission Type</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="form-control">Number Of Seats</p>
            </div>
            <div class="col">
              <p class="form-control">Fuel Type</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="form-control">Air Conditioned</p>
            </div>
            <div class="col">
              <p class="form-control">Air Bags</p>
            </div>
          </div>
          <button type="button" class="btn btn-success mb-3" style="width: 40%; margin-left: 27%;"
                  (click)="openBooking()">Make a Booking
          </button>
        </div>
      </div>
      <!-- Ending of the card -->
    </div>
    <div class="col">
      <div class="card mb-5" style="width: 25rem; border-color: black;">
        <img src="https://img4.goodfon.com/wallpaper/big/3/3b/skyline-gtr-skyline-gtr-r33-midnight-purple.jpg"
             class="card-img-top">

        <div class="ml-4 mr-4 mt-3" style="font-weight: 500; font-size: larger;">
          <div class="row">
            <div class="col">
              <p class="form-control"><b>Vehicle Model</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="form-control">Two Wheel Drive</p>
            </div>
            <div class="col">
              <p class="form-control">Transmission Type</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="form-control">Number Of Seats</p>
            </div>
            <div class="col">
              <p class="form-control">Fuel Type</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="form-control">Air Conditioned</p>
            </div>
            <div class="col">
              <p class="form-control">Air Bags</p>
            </div>
          </div>
          <button type="button" class="btn btn-success mb-3" style="width: 40%; margin-left: 27%;"
                  (click)="openBooking()">Make a Booking
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
