<div class="formatting-modal fm">
  <div class="modal-header" style="background-color: rgb(71,144,135);
background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);">
    <h4 class="modal-title"><b>Make Your Booking in <b style="color: rgb(228, 134, 11);">BANGER</b></b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="mt-4 mb-4" *ngIf="message">
    <div class="row justify-content-center">
      <alert class="alert" style="background-color: rgb(159, 250, 117); font-weight: 650;" [type]="getMessage()" [dismissible]="true"><span [innerHtml]="message"></span></alert>
    </div>
    </div>

  <div class="modal-body">

    <i style="color: red; font-size: small;">Please make sure to have valid utility Bill Uploaded when you Make Bookings. The Uploaded Uitility Bill MUST be a Valid one within three months.</i>

    <form name="form" [formGroup]="bookingForm" (ngSubmit)="onBooking()">

    <div class="row mt-3" style="font-size: larger;">

      <div class="col">

        <label>Select PickUp Time:</label>

        <input type="datetime-local"  class="form-control" [formControlName]="'pickupTime'" name="pickupTime">

        <span *ngIf="!bookingForm.get('pickupTime').valid && bookingForm.get('pickupTime').touched"
        style="margin-top: 3px; color:red; font-size: 12px;">Please Enter the PickUp Time!</span>

      </div>

      <div class="col">

        <label>Select Return Time:</label>

        <input type="datetime-local"  class="form-control" [formControlName]="'returnTime'" name="returnTime">

        <span *ngIf="!bookingForm.get('returnTime').valid && bookingForm.get('returnTime').touched"
        style="margin-top: 3px; color:red; font-size: 12px;">Please Enter the Return Time!</span>
      </div>
    </div>

    <div class="row mt-3" style="font-size: larger;">
      <div class="col">
        <label>Select Additional Equipments(If Needed):</label>
        <div class="col" style="height: 300px; overflow:scroll;">
          <table class="table table-info">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Equipment Name</th>
                <th scope="col">Price Per Day</th>
                <th scope="col">Add to Booking</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let equipment of equipList">
                <th scope="row"></th>
                <td>{{equipment.itemName}}</td>
                <td>Rs:{{equipment.pricePerDayEQ}}.00</td>
                <td class="mt-1 mb-1"><input class="form-check-input ml-5" type="checkbox" value="" id="flexCheckDefault"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success mt-4 mb-3 ml-4" [disabled]="!bookingForm.valid" style="width: 30%;">Make Booking</button>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </form>
  </div>
</div>


