<div class="formatting-modal fm">
  <div class="modal-header">
    <h4 class="modal-title"><b>Make Your Booking in <b style="color: rgb(228, 134, 11);">BANGER</b></b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="modal-body">

    <div class="row" style="font-size: larger;">
      <div class="col">
        <label for="pickupDate">Select PickUp Date:</label>
        <input type="date" id="pickupDate" name="pickupDate">
      </div>
      <div class="col">
        <label for="returnDate">Select Return Date:</label>
        <input type="date" id="returnDate" name="returnDate">
      </div>
    </div>

    <div class="row mt-3" style="font-size: larger;">
      <div class="col">
        <label for="pickupTime">Select PickUp Time:</label>
        <input type="time" id="pickupTime" name="pickupTime">
      </div>
      <div class="col">
        <label for="returnTime">Select Return Time:</label>
        <input type="time" id="returnTime" name="returnTime">
      </div>
    </div>

    <div class="row mt-3" style="font-size: larger;">
      <div class="col">

        <label for="pickupTime">Select Additional Equipments(If Needed):</label>
        <select class="form-control" type="text" id="equipments">
          <option>Wine-Chiller</option>
          <option>Baby-seats</option>
          <option>Freezer</option>
          <option>Navigation Satelite</option>
        </select>
      </div>

      <div class="col">
        <label for="pickupTime">Select Additional Equipments(If Needed):</label>
        <select class="form-control" type="text" id="equipments">
          <option>1</option><option>2</option><option>3</option>
          <option>4</option><option>5</option><option>6</option>
          <option>7</option><option>8</option><option>9</option><option>10</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-8">
        <label for="liscenceImg"><b>Add Your Liscence Image</b></label><br>
        <button class="btn btn-outline-dark" style="width: 50%;" (click)="fileSelector.click()">Click Here To Add
        </button>
        <input type="file" accept="image/*" style="display: none;" #fileSelector (change)="showLiscenceImg($event)"
               multiple="false">
      </div>
    </div>
    <button type="button" class="btn btn-success mt-4 mb-3 ml-4" style="width: 30%;">Make Booking</button>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>


