<div class="formatting-modal fm">
  <div class="modal-header" style="background-color: rgb(71,144,135);
background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);">
    <h4 class="modal-title"><b>Make Your Booking in <b style="color: rgb(228, 134, 11);">BANGER</b></b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="mt-4 mb-4" *ngIf="message">
    <div class="row justify-content-center">
      <alert class="alert" style="background-color: rgb(159, 250, 117); font-weight: 650;" [type]="getMessage()" [dismissible]="true"><span [innerHtml]="message"></span></alert>
    </div>
    </div>

  <div class="modal-body">

    <i style="color: rgb(44, 13, 114); font-size: small; font-weight: 700;">Please make sure to have valid utility Bill Uploaded when you Make Bookings. The Uploaded Uitility Bill MUST be a Valid one within three months.</i>

    <form name="form" [formGroup]="bookingForm" (ngSubmit)="onBooking()">

    <div class="row mt-3">

      <div class="col" style="font-weight: 700;">


        <label>Select PickUp Time:</label>

        <input type="datetime-local"  class="form-control" [formControlName]="'pickupTime'" name="pickupTime" #pickupTime (change)="getPickupTime(pickupTime.value)">

        <span *ngIf="!bookingForm.get('pickupTime').valid && bookingForm.get('pickupTime').touched"
        style="margin-top: 3px; color:red; font-size: 12px;">Please Enter the PickUp Time!</span>

      </div>

      <div class="col mt-4" style="font-weight: 700;">

        <label>Select Return Time:</label>

        <input type="datetime-local"  class="form-control" [formControlName]="'returnTime'" name="returnTime"  #returnTime (change)="getReturnTime(returnTime.value)">

        <span *ngIf="!bookingForm.get('returnTime').valid && bookingForm.get('returnTime').touched"
        style="margin-top: 3px; color:red; font-size: 12px;">Please Enter the Return Time!</span>
      </div>
    </div>



      <div class="row mt-4 justify-content-center" style="font-weight: 700;">
        <label>Select Additional Equipments(If Needed):</label>
        </div>
        <div class="row justify-content-center">
        <div style="width: 400px;" *ngFor="let equipment of equipList"  value="{{equipment.equipmentId}}">
          <input class="form-check-input" type="checkbox" value="{{equipment.equipmentId}}" (change)="getEquipmentPrice(equipment)">
                  {{equipment.itemName}} ----  Rs.{{equipment.pricePerDayEQ}}.00
        </div>
      </div>


      <div class="row mt-3">
        <div class="col" style="font-weight: 700;">
          <label>Total Amount of the Booking:</label>

          <input type="text"  class="form-control"  value="{{finalCost}}" name="price" readonly>
        </div>

      </div>


    <button type="submit" class="btn btn-success mt-4 mb-3 ml-4" [disabled]="!bookingForm.valid" style="width: 40%;">Confirm Booking</button>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </form>
  </div>
</div>


