<div class="formatting-modal fm">
  <div class="modal-header" style="background-color: rgb(71,144,135);
background: linear-gradient(0deg, rgba(71,144,135,1) 0%, rgba(71,144,135,1) 0%);">
    <h4 class="modal-title">Welcome to <b style="color: rgb(219,216,213);">BANGER</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="modal-body">

    <div class="mt-4 mb-4" *ngIf="message">
      <div class="row justify-content-center">
        <alert class="alert" style="background-color: rgb(250, 126, 126); font-weight: 650;" [type]="getMessage()" [dismissible]="true"><span [innerHtml]="message"></span></alert>
      </div>
      </div>

    <form name="form" [formGroup]="form" (ngSubmit)="onLogin()">

      <div class="form-group">

        <label for="emailAddress"><b>Email Address</b></label>

        <input type="email"
         class="form-control" name="email"
         [formControlName]="'emailAddress'"
         placeholder="Enter Your Email Address">
          <span *ngIf="!form.get('emailAddress').valid && form.get('emailAddress').touched"
                style="margin-top: 3px; color:red; font-size: 12px;">Please Enter your Email Address</span>
      </div>

      <div class="form-group">

        <label for="password"><b>Password</b></label>

        <input type="password"
        [formControlName]="'password'"
        class="form-control" placeholder="Enter Your Password">
        <span *ngIf="!form.get('password').valid && form.get('password').touched"
        style="margin-top: 3px; color:red; font-size: 12px;">Please Enter Your Password</span>
      </div>

      <button type="submit" class="btn btn-success mb-2" style="width: 30%; margin-right: 0px;">Login</button>
      <hr>
      <span style="font-size: 14px;">Not a User at BANGER? <a
        style="text-decoration: none; color: rgba(162, 124, 231, 0.938); cursor: pointer;"
        (click)="openSignUp()">Sign Up Here</a></span><br>

    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="hideForm()" style="width: 30%;">Close</button>
    </div>
  </div>
</div>
