<div class="formatting-modal fm">
  <div class="modal-header">
    <h4 class="modal-title">Your Booking in <b style="color: rgb(228, 134, 11);">BANGER & Co</b></h4>
    <button type="button" (click)="hideForm();" class="close float-right"><span>&times;</span></button>
  </div>

  <div class="modal-body">

    <h5>Are you sure to Request for an Extention of Your Booking ?</h5>
    <div class="modal-footer">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-success float-left" style="width: 150px;" (click)=" extendBooking()" (click)="reloadPage()">Yes</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-danger" style="width: 90px;" (click)="hideForm()">Close</button>
        </div>
      </div>

    </div>

  </div>
</div>
