<div class="container">
  <div class="row">
    <div class="card cd" style="width: 22rem; background-color:background: rgb(18,131,78);
background: linear-gradient(0deg, rgba(18,131,78,1) 0%, rgba(115,143,173,1) 100%);">
      <div class="card-body">
        <h3 class="card-title"><b>Praveen Ranasinghe</b>  </h3>
        <h4>Booking Id:BI001</h4>
        <h5>Vehicle Number: CAA-1434</h5>
        <h5>PickUp Date:2021/05/18</h5>
        <h5>Return Date:2021/05/20</h5>

        <div class="row">
          <div class="col">
            <a class="btn btn-primary" (click)="openAccept()">Accept Booking</a>
          </div>
          <div class="col">
            <a class="btn btn-danger" (click)="openReject()">Reject Booking</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
