<div class="container">
  <div class="row justify-content-center mt-4">
      <a class="btn btn-outline-primary" style="width: 500px ;" [routerLink]="['/admin','bookingOperations']">Click Here To View Other Bookings Operations<i class="far fa-check-circle ml-2"></i></a>
  </div>
</div>


<div class="row justify-content-center mt-5">
  <h4 style="color: #130a02;"><b><u>Bookings to be Accepted!</u></b></h4>
</div>


  <div class="row mt-5">
    <div class="col-sm-4 mb-4"  *ngFor="let bookings of List">
      <div class="card" style="width: 22rem; border-radius: 10px; box-shadow: 5px 5px 15px black; background-color: rgb(245, 255, 249);">

        <div class="card-body">

        <div class="row justify-content-center">
           <h4>Booking Id :{{bookings.bookingId}} <b></b></h4>
        </div>

        <div class="row justify-content-center">
          <label><b>Pickup Time:{{bookings.pickupTime  | date:'short'}}</b></label>
       </div>

       <div class="row justify-content-center">
        <label><b>Return Time: {{bookings.returnTime  | date:'short'}}</b></label>
       </div>

       <div class="row justify-content-center">
        <label><b>Total Amount: Rs: {{bookings.price}}.00</b></label>
       </div>

      <div class="row justify-content-center">
         <h4><b>Vehicle Id : {{bookings.vehicle.vehicleId}}</b></h4>
      </div>

<hr style="background-color: black;">
          <div class="row mt-4">
            <div class="col-lg-4">
              <a class="btn btn-outline-primary" (click)="openUserInfo(bookings.email)" >User Info<i class="fas fa-info ml-2"></i></a>
            </div>
            <div class="col-lg-4">
              <a class="btn btn-outline-success" (click)="openAccept(bookings.bookingId)" >Accept<i class="far fa-check-circle ml-2"></i></a>
            </div>
            <div class="col-lg-4">
              <a class="btn btn-outline-danger" (click)="openReject(bookings.bookingId)" >Reject <i class="fas fa-trash-alt ml-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
