<div class="row justify-content-center">
  <h3 style="color: #130a02;"><b>Available Equipments in our Organization!</b></h3>
</div>

  <div class="row" style="border-radius: 15px;">
    <div class="ml-5" style="width: 100%;">
      <table class="table table-success" style="border-radius: 15px;">
        <thead class="justify-content-center">
        <tr style="height: 70px; background-color: #dbf59d; font-size: larger">
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Price Per-Day</th>
          <th scope="col">Quantity</th>
          <th></th>
          <th scope="col">Update Item</th>
          <th></th>
          <th scope="col">Remove Item</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: medium; height: 70px;" *ngFor="let equipment of List">
          <td>{{$index+1|number}}</td>
          <td>{{equipment.itemName}}</td>
          <td>RS:{{equipment.pricePerDayEQ}}.00</td>
          <td>{{equipment.quantity}}</td>
          <td></td>
          <td class="btn btn-outline-primary mt-2" (click)="openUpdateEquip(equipment.equipmentId)">Update<i class="fas fa-wrench ml-3"></i></td>
          <td></td>
          <td class="btn btn-outline-danger mt-2" (click)="openDeleteEquip(equipment.equipmentId)">Remove<i class="fas fa-trash-alt ml-3"></i></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
