<div class="container">
  <div class="row mt-5 ml-4" *ngFor="let equipment of List">
    <div class="card ml-3 c2" style="width: 21rem;">
      <div class="card-body">
        <h5 class="card-title">{{equipment.itemName}}</h5>
        <p class="card-text">RS:{{equipment.pricePerDayEQ}}</p>
        <p class="card-text">{{equipment.itemDescription}}</p>
        <div class="row">
          <div class="col">
            <a class="btn btn-primary" (click)="openUpdateEquip()">Update Item</a>
          </div>
          <div class="col">
            <a class="btn btn-danger" (click)="openDeleteEquip()">Delete Item</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
