.contact-form {
  border-color: black;

  border-color: black;
  border-style: double;
  box-shadow: 10px 10px 25px black;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  margin-top: -20%;
  transform: rotate(29deg);
}
