<div class="container ">
    <div class="row justify-content-center">
      <h3>Update Your Account Here!</h3>
    </div>
  <div class="row justify-content-center">
    <form [formGroup]="updateProfileForm" (ngSubmit)="onUpdateProfileDetails()">
    <div class="contact-form mb-4 mt-3" style="width: 750px; border-radius: 15px;">
      <div class="row justify-content-center mt-3">
        <img [src]="userInfo.profileImage"  height="200px;" width="200px;" style="border-radius: 150px; border-style: double;">
      </div>
        <div class="row mt-4 mb-4">
          <div class="col ml-3">
            <label><b>First Name:</b> <b style="color: red; font-size: larger;">*</b></label>
            <input type="text" class="form-control" name="fName" [formControlName]="'fName'">
            <span *ngIf="!updateProfileForm.get('fName').valid && updateProfileForm.get('fName').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Enter your First Name!</span>
          </div>
          <div class="col mr-3">
            <label><b>Last Name:</b><b style="color: red; font-size: larger;">*</b></label>
            <input type="text" class="form-control" name="lName" [formControlName]="'lName'">
            <span *ngIf="!updateProfileForm.get('lName').valid && updateProfileForm.get('lName').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Enter your Last Name!</span>
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col ml-3">
            <label><b>Email:</b></label>
            <input type="email" class="form-control" name="email"  value="{{userInfo.email}}" [readonly]="true">
          </div>
          <div class="col mr-3">
            <label><b>Contact Number</b><b style="color: red; font-size: larger;">*</b></label>
            <input type="text" class="form-control" name="contactNum" [formControlName]="'contactNum'">
            <span *ngIf="!updateProfileForm.get('contactNum').valid && updateProfileForm.get('contactNum').touched"
            style="margin-top: 3px; color:red; font-size: 12px;">Please Enter your Contact Number!</span>
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col ml-3">
            <label><b>Date of Birth:</b></label>
            <input type="text" class="form-control" name="age" value="{{userInfo.dob  | date:'mediumDate'}}" [readonly]="true">
          </div>
          <div class="col mr-3">
            <label><b>License Number</b></label>
            <input type="text" class="form-control" name="nic" value="{{userInfo.nicNumber}}" [readonly]="true">
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col ml-3">
            <label><b>Your License Image:</b></label>
            <img [src]="userInfo.licenceImg"  height="200px;" width="300px;" style="border-color: black; border-style: double;">

          </div>
          <div class="col">
            <label><b>Your Utility Bill:</b></label>
            <img [src]="userInfo.utilityBill"  height="200px;" width="300px;" style="border-color: black; border-style: double;">
            <label class="mt-3">Upload Your new Utility Bill:<b style="color: red; font-size: larger;">*</b></label>
            <input class="mt-2" type="file" accept="image/*" (change)="onFileChangedToUtility($event)" multiple="false" [formControlName]="'utilityBill'">
          </div>
        </div>


      <button class="btn btn-primary mb-3" style="width: 30%; margin-left: 35%;" type="submit" [disabled]="!updateProfileForm.valid"> Save Changes</button>
    </div>
  </form>
  </div>
</div>
