.contact-form {
  border-color: black;
  /*background: rgba(148,187,233,1);*/
  /*background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(148,187,233,1) 100%);*/
  background-color: rgb(63, 247, 136);
  border-color: black;
  border-style: double;
  box-shadow: 10px 10px 25px black;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  margin-top: -20%;
  transform: rotate(29deg);
}
