<div class="container ">
    <div class="row justify-content-center">
      <h3>Update Your Account Here!</h3>
    </div>
  <div class="row justify-content-center">
    <div class="contact-form mb-4 mt-3" style="width: 750px; border-radius: 15px;">
      <div class="contact-image justify-content-center">
        <i class="fas fa-user mt-4" style="font-size: 50px;"></i>
      </div>
      <form>
        <div class="row mt-4 mb-4">
          <div class="col ml-3">
            <label><b>First Name:</b> <b style="color: red; font-size: larger;">*</b></label>
            <input type="text" class="form-control" name="fName">
          </div>
          <div class="col mr-3">
            <label><b>Last Name:</b><b style="color: red; font-size: larger;">*</b></label>
            <input type="text" class="form-control" name="lName">
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col ml-3">
            <label><b>Email:</b></label>
            <input type="email" class="form-control" name="email" [readonly]="true">
          </div>
          <div class="col mr-3">
            <label><b>Contact Number</b><b style="color: red; font-size: larger;">*</b></label>
            <input type="text" class="form-control" name="contactNum">
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col ml-3">
            <label><b>Age:</b></label>
            <input type="text" class="form-control" name="age" [readonly]="true">
          </div>
          <div class="col mr-3">
            <label><b>NIC Number</b></label>
            <input type="text" class="form-control" name="nic" [readOnly]="true">
          </div>
        </div>
      </form>
      <button class="btn btn-primary mb-3" style="width: 30%; margin-left: 35%;" type="submit"> Save Changes</button>
    </div>
  </div>
</div>
